<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Summary: &lt;/font&gt;: Monitory repository of virtualization tearm (Devel and Test repositorys).&lt;/b&gt;&lt;br&gt;&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Project: &lt;/font&gt;Virtualization&lt;/b&gt;&lt;br&gt;&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;Work Flow: &lt;/font&gt;&lt;br&gt;&#xd;
Monitor job supports both ways (Manual | Automatic) to be triggered. &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&#xd;
1 Select specific product and version repository to build job (Manual) ; &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
2 Use default full product and version repositorys to build job (Automatic); &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
3 Monitor any change of repositiroy. &lt;br&gt;&#xd;
&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp; &#xd;
4 Trigger job to finish test; &lt;br&gt;&#xd;
&#xd;
</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>10</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>true</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>OS</name>
          <description>&lt;font color=&quot;black&quot; size=4&gt;&lt;b&gt;Operation systerm version for virtualization test&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>SLE-11,SLE-12</value>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>SP</name>
          <description>&lt;font color=&quot;black&quot; size=4&gt;&lt;b&gt;Patch version for virtualization test&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>SP0,SP3,SP4</value>
          <defaultValue>SP4</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>147.2.207.30</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>sh -x ./check_repos.sh ${OS} ${SP}
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>