<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;font color=&quot;orange&quot; size=4&gt;&lt;b&gt;VATP1 (Virtualization Automation Tool For Project 1) &lt;/font&gt;: Automatically execute the test case for test of host upgrade.&lt;/b&gt;&lt;br&gt;&#xd;
&#xd;
&lt;br&gt;This project implements following functions:&lt;br&gt;&lt;br&gt;&#xd;
&#xd;
&lt;font color=&quot;blue&quot; size=3&gt;1 Monitor the change package of obs server.&lt;/font&gt;&lt;br&gt;&lt;br&gt;&#xd;
&lt;font color=&quot;blue&quot; size=3&gt;2 Trigger the running of automation tool.&lt;/font&gt;&lt;br&gt;&#xd;
  &lt;b&gt; - Manual &lt;/b&gt; : Running automation tool by choice of parameters.&lt;br&gt;&#xd;
  &lt;b&gt; - Auto   &lt;/b&gt; : Automation tool will be run once update package on obs is found.&lt;br&gt;</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>10</daysToKeep>
    <numToKeep>20</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>ORGHOST</name>
          <description>&lt;font color=&quot;GREEN&quot;, size=4&gt;&lt;b&gt; Select product version on original host &lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_RADIO</type>
          <value>SLE11-SP2,SLE11-SP3,SLE11-SP4,SLE12</value>
          <defaultValue>SLE11-SP3</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>DESTHOST</name>
          <description>&lt;font color=&quot;GREEN&quot;, size=4&gt;&lt;b&gt; Select one or more product versions on dest host for migration test.&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>5</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>SLE11-SP3,SLE11-SP4,SLE12-SP1</value>
          <defaultValue>SLE11-SP4</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>VIRTTYPE</name>
          <description>&lt;font color=&quot;GREEN&quot;, size=4&gt;&lt;b&gt; Select one or more virtualization type on host.&lt;/b&gt;&lt;/font&gt;</description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>3</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>KVM,XEN-FV,XEN-PV</value>
          <defaultValue>KVM</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@0.34">
          <name>MIGRtYPE</name>
          <description></description>
          <quoteValue>false</quoteValue>
          <visibleItemCount>3</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <value>live migration,offline migration,persistant migration</value>
          <defaultValue>live migration</defaultValue>
          <multiSelectDelimiter>,</multiSelectDelimiter>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>147.2.207.30</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.scripttrigger.ScriptTrigger plugin="scripttrigger@0.31">
      <spec>*/10 * * * *</spec>
      <labelRestriction>false</labelRestriction>
      <enableConcurrentBuild>false</enableConcurrentBuild>
      <script>cd `pwd`/jenkins_virt_script

./build_trigger.sh</script>
      <exitCode>5</exitCode>
    </org.jenkinsci.plugins.scripttrigger.ScriptTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cat /var/lib/amazon_jenkins_workspece/jenkins_virt_script/chg_pkg_info

echo &quot;----------------------------&quot;

echo $PRODUCT
echo $UPGRADE
echo $EXTRA_ARGS

#exit 1</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.39">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.AbortedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.AbortedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.14.1">
      <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
        <timeoutMinutes>10</timeoutMinutes>
      </strategy>
      <operationList>
        <hudson.plugins.build__timeout.operations.AbortOperation/>
      </operationList>
    </hudson.plugins.build__timeout.BuildTimeoutWrapper>
  </buildWrappers>
</project>